# Copyright (C) 2017 Andrea <zionio@fusilab.net>

# MIT License

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

# JBoss Datasource Statistics
# A list of the supported datasource core statistics:
# docs: https://access.redhat.com/documentation/en-US/JBoss_Enterprise_Application_Platform/6.3/html/Administration_and_Configuration_Guide/Datasource_Statistics.html
#
# ActiveCount
# The number of active connections. Each of the connections is either in use by an application or available in the pool
#
# AvailableCount
# The number of available connections in the pool.
#
# AverageBlockingTime
# The average time spent blocking on obtaining an exclusive lock on the pool. The value is in milliseconds.
#
# AverageCreationTime
# The average time spent creating a connection. The value is in milliseconds.
#
# CreatedCount
# The number of connections created.
#
# DestroyedCount
# The number of connections destroyed.
#
# InUseCount
# The number of connections currently in use.
#
# MaxCreationTime
# The maximum time it took to create a connection. The value is in milliseconds.
#
# MaxUsedCount
# The maximum number of connections used.
#
# MaxWaitCount
# The maximum number of requests waiting for a connection at the same time.
#
# MaxWaitTime
# The maximum time spent waiting for an exclusive lock on the pool.
#
# TimedOut
# The number of timed out connections.
#
# TotalBlockingTime
# The total time spent waiting for an exclusive lock on the pool. The value is in milliseconds.
#
# TotalCreationTime
# The total time spent creating connections. The value is in milliseconds.
#
# WaitCount
# The number of requests that had to wait for a connection.
#

{
    "instances":
    [
        {
	    "username":	"username must be added to mgmt-users.properties",
	    "password":	"",
	    "host":     "127.0.0.1",
	    "port":     "9990",
	    "realm":    "ManagementRealm",
	    "protocol": "http",
	    "stats":
	        [
		        { "name": "AvailableCount", "warn_lower": "5", "crit_lower": "2", "warn_upper": "999", "crit_upper": "999" },
		        { "name": "InUseCount", "warn_lower": "0", "crit_lower": "0", "warn_upper": "999", "crit_upper": "999" },
		        { "name": "ActiveCount", "warn_lower": "0", "crit_lower": "0", "warn_upper": "999", "crit_upper": "999" }
	        ]
	    }
	 ]

}
